/* Fondo general y tipografía */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f4ec; /* Color claro, cálido */
    color: #4a3f35; /* Marrón suave */
    margin: 0;
    padding: 20px;
    text-align: center;  /* Centra el contenido por defecto */
}

/* Títulos principales */
h1 {
    color: #c06816;
    font-size: 3em;
    margin-bottom: 10px;
}

/* Subtítulos */
h2 {
    color: #704300;
    font-size: 2em;
    margin-bottom: 9px;
}
h3 {
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 9px;
}
/* Párrafos */
p {
    font-size: 19px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

/* Enlaces como botones */
a {
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;     /* sin subrayado */
    background-color: #e28000; /* color botón */
    color: #000000;            /* texto */
    padding: 1em 2em;
    margin: 1em auto;
    border-radius: 20px;
    cursor: pointer;           /* cambia el cursor al pasar encima */
    transition: background-color 0.3s;
    max-width: 90%;
    text-align: center;
    border: none;              /* quitar borde por si acaso */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra para parecer botón */
}

a:hover {
    background-color: #772600;
}

/* Contenedor general (opcional) */
.container {
    max-width: 1000px;
    margin: auto;
}

/* Espacio entre productos */
.producto {
    margin-bottom: 15px;
}
/* Para centrar verticalmente el contenido de la página principal */
.fullscreen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la pantalla */
    text-align: center;
}
